<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="row"> -->
        <div class="col-md-3 ">
          <div class="main">
            <ul class="mcd-menu bg-danger">
              <li>
                <a routerLink="home" class="home-link align-middle ">
                  <i class="fa fa-home"></i>
                <strong>Home</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="request" class="request-link "  >
                  <i class="fa fa-group"></i>
                <strong>Blood Donanation Request</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="status" class="status-link ">
                  <i class="fa fa-user"></i>
                <strong>Donar Status</strong>
              </a>

              </li>
            </ul>
          </div>
         
        </div>
        <div class="col-md-9 ">
          <router-outlet>
 
          </router-outlet>
        </div> 
          
       
         
  </div>
        

</div>
  

 
<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 home1">
          <a class="request-link">Request</a>
        </div>
      </div>

      <!-- <div class="col-md-9 ">
      </div> -->

    <!-- </div>
  </div>
</div>
<div class="container-fluid">d
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 home2">
          <a  class="status-link">Status</a>
        </div>-->

         

      <!-- </div>
    </div>
  </div>
</div> -->
 
