 <div class="container-fluid">
    <div class="col-md-12 f1">
        <div class="row">
            <div class="col-md-3">
                <footer class="">
                    <h1 style="color: white; text-align: center;"> Pages</h1>
                    <p style="color: white;text-align: center;">Home<br>
                      About Us<br>
                      Contact As<br>
                      Admin<br>
                      Galary<br>
                      Donar<br>
                      Patient<br>
                     </p>
                  </footer>

            </div>
            <div class="col-md-3">
                <footer class=" ">
                     <h1 style="color: white; text-align: center;">Contact Us</h1>
                    <p style="color: white; text-align: center;">Healing Center,176 W Street<br>
                      name, New York,NY<br><br>
                      (+91)9876543210<br><br>
                      demo@gmail.com</p>
                  </footer>
                

            </div>
            <div class="col-md-3">
                <footer class="">
                     <h4 style="color: white; text-align: center;">Subscribe to our BloodBank website</h4>
                    <h5 style="color: white; text-align: center;">Inform our team to wanted Blood Groups</h5><br>
                    <form>
                        <div class="mb-3">
                          <input type="email" class="form-control" placeholder="Email" aria-describedby="emailHelp">
                           <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                           <button class="btn btn-info">Subcribe</button>
                        </div>
                    </form>
                      
                  </footer>
                </div>
                <div class="col-md-3">
                    <footer class="">
                        <img src="assets/z1.jpg" class="img-fluid">
                          
                      </footer>
                    </div>
        </div>
    </div>
</div>

        
        
    