<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/42.jpg" alt="" id="img" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h1>ABOUT AS</h1>
                <P>The world blood donor day is observed on the 14th of June every year.
                     The whole act of donating blood is a noble deed in itself.
                      The human body is so dynamic that it has the ability to regenerate the loss 
                      of red blood cells in a few days with the help of a nutritious diet.
                  The property of blood is such that its purpose cannot be solved with any other substitute,
                  but its generation can be enhanced. Worldwide, over a million people die due to
                  various factors. It could be a severe accident, a natural calamity or even diseases
                   like anemia. Shortage in blood these stocks in adequate amounts is the sole factor 
                   for the ever increasing mortality rate.
                   The process of blood donation is not just donating blood; they are
                    segregated as per the blood group system. 
                    There are different blood groups such as A, B, AB and O.
                     To correctly identify the kind of blood type is a crucial factor in 
                     blood donation camps. In order to fulfill the loss of blood in a body, 
                     it required the same kind of blood as the patients’ blood group. 
                     Adulteration of two different blood types can be mortal for the patient.</P>
            </div>

        </div>
    </div>
</div>

