.home{
    background-color: brown;
    height: 50px;
    border: 2px solid white ;
    
}
.home1{
        background-color: brown;
        height: 50px;
        border: 2px solid white ;
    }
.home2{
    background-color: brown;
    height: 50px;
    border: 2px solid white ;

}

    
.home-link{
    color: white;
    font-weight: normal;
    font-weight: bolder;
    text-decoration: none;
    
}
.request-link{
    color: white;
    font-weight: normal;
    font-weight: bolder;
    text-decoration: none;
    
}
.status-link{
    color: white;
    font-weight: normal;
    font-weight: bolder;
    text-decoration: none;
    
}

.form1{
    /* display: none; */
    background-color: aquamarine;

}
li{
    list-style-type: none;
}

