<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="row"> -->
        <div class="col-md-3 ">
          <div class="main">
            <ul class="mcd-menu bg-danger">
              <li>
                <a routerLink="adminhome" class="home-link align-middle ">
                  <i class="fa fa-home"></i>
                <strong>Home</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="admindetails" class="request-link "  >
                  <i class="fa fa-group"></i>
                <strong>Donar Details</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="admindonation" class="status-link ">
                  <i class="fa fa-hand-peace-o" style="font-size:24px"></i>
                <strong>Donation</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="adminpatient" class="status-link ">
                  <!-- <i class="fas fa-hand-holding-heart"></i> -->
                  <i class="fa fa-file"></i>
                <strong>Patient Details</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="adminbldreq" class="status-link ">
                <i class="fa fa-heartbeat"></i>
                <strong>Blood Request</strong>
              </a>

              </li><br>
              <li>
                <a routerLink="adminstkreq" class="status-link ">
                <i class="fa fa-check-square-o"></i>
                <strong>Blood Stock</strong>
              </a>

              </li>
            </ul>
          </div>
         
        </div>
        <div class="col-md-9 ">
          <router-outlet>
 
          </router-outlet>
        </div> 
          
       
         
  </div>
        

</div>
  

 

