<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
        
            <div class="col-md-9 ">
                <form class="form-control a1">
                    <input type="text" class="form-control" placeholder="Donar Name"><br>
                    <textarea class="form-control"  placeholder="Message"></textarea><br>
                  
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>

            </div>
        </div>
    </div>
 </div>




