<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
        
            <div class="col-md-9">
                
                <form class="form-control form1">
                   
                    <input type="text" class="form-control" placeholder="Donar  Name"><br>
                    <input type="text" class="form-control" placeholder="Age"><br>
                    <input type="text" class="form-control" placeholder="Address"><br>
                    <input type="text" class="form-control" placeholder="Mobile"><br>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>

            </div>
        </div>
    </div>
 </div>